<div class="main">
  <div class="header">
    <div class="logo-menu">
      <div class="logo">
        <img src="../../assets/logo.svg" alt="logo" />
      </div>
      <div class="menu">
        <div class="submenu">
          <span>About </span>
          <hr class="line" />
        </div>
        <div class="submenu">
          <span>Careers</span>
          <hr class="line" />
        </div>
        <div class="submenu">
          <span>Events</span>
          <hr class="line" />
        </div>
        <div class="submenu">
          <span>Products</span>
          <hr class="line" />
        </div>
        <div class="submenu">
          <span>Support</span>
          <hr class="line" />
        </div>
      </div>
    </div>
    <div class="header-content">
      <span class="content">IMMERSIVE</span>
      <span class="content">EXPERIENCES</span>
      <span class="content">THAT DELIVER</span>
    </div>
  </div>
  <div class="main-container">
    <div class="vr-image-container">
      <img
        src="../../assets/desktop/image-interactive.jpg"
        alt="image-interactive"
        class="interactive"
      />
      <div class="vr-content-container">
        <div class="vr-heading">THE LEADER IN INTERACTIVE VR</div>
        <div class="vr-content">
          Founded in 2011, Loopstudios has been producing world-class virtual
          reality projects for some of the best companies around the globe. Our
          award-winning creations have transformed businesses through digital
          experiences that bind to their brand.
        </div>
      </div>
    </div>
    <div class="our-creation-container">
      <div class="our-creation-header">
        <div class="our-creation-title">OUR CREATIONS</div>
        <button class="seeAll">SEE ALL</button>
      </div>
      <div style="--left: {{ col }}" class="our-creation-content">
        <div class="game-container">
          <div class="game deep-earth"></div>
          <div class="game-title">DEEP EARTH</div>
        </div>
        <div class="game-container">
          <div class="game night-arcade"></div>
          <div class="game-title">NIGHT ARCADE</div>
        </div>
        <div class="game-container">
          <div class="game soccer-team-vr"></div>

          <div class="game-title">SOCCER TEAM VR</div>
        </div>
        <div class="game-container">
          <div class="game the-grid"></div>

          <div class="game-title">THE GRID</div>
        </div>
        <div class="game-container">
          <div class="game from-up-above-vr"></div>

          <div class="game-title">FROM UP ABOVE VR</div>
        </div>

        <div class="game-container">
          <div class="game pocket-borealis"></div>

          <div class="game-title">POCKET BOREALIS</div>
        </div>
        <div class="game-container">
          <div class="game the-curiosity"></div>

          <div class="game-title">THE CURIOSITY</div>
        </div>
        <div class="game-container">
          <div class="game make-it-fisheye"></div>

          <div class="game-title">MAKE IT FISHEYE</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-logo-social">
      <div class="footer-logo">
        <img src="../../assets/logo.svg" alt="logo" />
      </div>
      <div class="social-contianer">
        <div class="facebook social">
          <img src="../../assets/icon-facebook.svg" alt="facebook" />
          <hr class="line" />
        </div>
        <div class="twitter social">
          <img src="../../assets/icon-twitter.svg" alt="twitter" />
          <hr class="line" />
        </div>
        <div class="pininterest social">
          <img src="../../assets/icon-pinterest.svg" alt="pininterest" />
          <hr class="line" />
        </div>
        <div class="instagram social">
          <img src="../../assets/icon-instagram.svg" alt="instagram" />
          <hr class="line" />
        </div>
      </div>
    </div>
    <div class="footer-content">
      <div class="footer-menu-container">
        <div class="submenu-footer">
          <span>About</span>
          <hr class="line" />
        </div>
        <div class="submenu-footer">
          <span>Careers</span>
          <hr class="line" />
        </div>
        <div class="submenu-footer">
          <span>Events</span>
          <hr class="line" />
        </div>
        <div class="submenu-footer">
          <span>Products</span>
          <hr class="line" />
        </div>
        <div class="submenu-footer">
          <span>Support</span>
          <hr class="line" />
        </div>
      </div>
      <div class="right-reserved-container">
        &copy; 2021 Loopstudios. All rights reserved.
      </div>
    </div>
  </div>
</div>
